<?php

/** @var PhpCsFixer\ConfigInterface $config **/
$config = include __DIR__ . '/vendor/facile-it/facile-coding-standard/.php_cs';

$finder = PhpCsFixer\Finder::create();
$finder->in([
    __DIR__.'/src',
    __DIR__.'/tests',
]);

$config->setFinder($finder);
$config->setUsingCache(true);
$config->setCacheFile(__DIR__ . '/.php_cs.cache');
$config->setHideProgress(true);

return $config;
